# Handout folder
handout/

# Training outputs
outputs/
# test part

.test.ipynb

# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Env
.env
venv/
.venv/

# OS
.DS_Store
